/* Root Variables Starts Here */
:root {
    scrollbar-color: #fff #15243f !important;
    scrollbar-width: thin !important;
}
input,
textarea {
    border: none;
    resize: none;
}
.blog a,
.blog a:hover,
.blog a:active,
.blog a:focus,
.blog a:visited {
    color: #15243f;
}
/* Global Style Ends Here */

/* Blog Main Page Starts Here */
.main-header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}

.blog-main-nav {
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 10px 0px #ebe9e9;
}

.blog-nav-menu {
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 10px 0px #ebe9e9;
}
.menu-logo {
    width: 100px;
    height: auto;
}
.blog-nav-menu {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;
}
.blog-full {
    width: 100%;
    min-height: calc(100vh - 60px);
    margin-top: 60px;
    position: relative;
}
.blog-intro {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-width: 350px;
    margin: 60px 0px 20px 0px;
}
.gallery-container {
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    overflow: hidden;
}
.gallery-main {
    width: 100%;
    height: 400px;
    border: 1px solid #e9e9e9;
    background: #ccc;
    position: relative;
}
.gallery-main .swiper-button-prev,
.gallery-main .swiper-button-next {
    position: absolute;
    top: unset !important;
    bottom: 20px;
    right: auto !important;
    height: 50px;
    width: 35px;
    color: #e9e9e9;
    background: #1e1e1e;
}
.gallery-main .swiper-button-prev::after,
.gallery-main .swiper-button-next::after {
    font-size: 12px;
}
.gallery-main .swiper-button-prev {
    left: 55px !important;
}
.swiper-slide {
    width: 100% !important;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
}
.gallery-title {
    position: absolute;
    top: 15px;
    right: 15px;
    font-family: "Epilogue", sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: #fff;
}
.swiper-slide-active .gallery-title {
    animation: slide-in 0.3s ease-in both;
}
.gallery-thumbs {
    order: -1;
    width: 30%;
    min-width: 150px;
    height: 400px;
}
.gallery-thumbs .swiper-slide {
    height: 200px !important;
}
.gallery-thumbs img {
    width: 100%;
    height: 100%;
    min-width: 150px;
    min-height: 100px;
}
.gallery-thumbs .swiper-slide img {
    transition: 0.3s;
}
.gallery-thumbs .swiper-slide-active {
    opacity: 0.9;
}
.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}
.gallery-thumbs .swiper-slide-thumb-active img {
    margin-left: -15px;
}
#main-latest-news {
    margin-top: 80px;
}
.latest-news {
    margin-bottom: 60px;
}
.title-box {
    display: flex;
    align-items: baseline;
    padding: 10px 30px;
}
.section-title {
    margin-left: 10px;
}
.title-line {
    flex-grow: 1;
    height: 1px;
    background: #000;
}
.news-cards {
    padding: 30px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}
.card {
    width: 280px;
    height: 130px;
    padding: 25px 10px 15px 10px;
    border-radius: 30px;
    background: #fff;
    transform: skew(0deg, 170deg);
    box-shadow: -2px -3px 9px 1px #efeaea, -4px 7px 15px 3px #e9e6e6;
}
.card > *:not(.card-read-more) {
    transform: skew(182deg, 9deg);
}
.news-thmb {
    width: 100%;
    height: 150px;
    border-radius: 20px;
    margin-top: 30px;
}
.card-news-title {
    text-align: center;
}
.card-qoute {
    width: 90%;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    background-image: linear-gradient(0deg, #fff 5%, #000);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: 5px auto 10px auto;
}
.writting-data {
    display: flex;
    align-items: center;
}
.small-author-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}
.small-card-data > * {
    font-size: 14px;
    font-weight: normal;
}
.small-card-data p {
    margin-top: -5px;
}
.card-read-more {
    position: absolute;
    left: 20px;
    bottom: 0px;
    font-size: 14px;
}
.email-subscription {
    width: 80%;
    min-height: 250px;
    background: #15243f;
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 20px auto 40px auto;
    overflow: hidden;
    border-radius: 50px;
    position: relative;
}
.email-subscription img {
    width: calc(100% - 20px);
    position: absolute;
    left: 15px;
}
.blog-subscription-box {
    width: 70%;
    z-index: 1;
}
.blog-subscription-box p {
    color: #fff;
    text-shadow: 0px 2px 1px #000;
    font-size: 20px;
    margin-bottom: 20px;
}
.blog-subscription-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.blog-subscription-form input {
    flex: 1;
    max-width: 350px;
    min-width: 220px;
    font-size: 16px;
    padding: 4px 15px;
    border-radius: 20px;
    margin-left: 10px;
}
.blog-subscription-form input::placeholder {
    color: #ccc;
}
.blog-subscription-form input:active::placeholder,
.blog-subscription-form input:focus::placeholder {
    color: transparent;
}
.blog-subscription-form button {
    color: #fff;
    background: #407bff;
    font-size: 16px;
    padding: 4px 15px;
    border-radius: 25px;
}
.main-footer {
    padding: 20px;
    background: #f3eded;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.footer-right {
    width: 320px;
    min-width: 280px;
}
.bazzarry-logo {
    width: 300px;
    height: 120px;
    object-fit: cover;
}
.footer-right p {
    text-align: center;
}
.footer-links {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.blog-footer-social {
    display: flex;
    flex-flow: column;
}
.footer-social-link {
    align-self: end;
}
.footer-section-title {
    text-align: center;
}
/* Blog Main Page Ends Here */

/* Blog Article Page Starts Here */
.article-container {
    width: 80%;
    margin: 100px auto 20px auto;
}
.article-top {
    text-align: center;
    /*margin-bottom: 60px;*/
}
.article-top h1 {
    color: #15243f;
}
.article-top p {
    color: #aeb5b3;
}
.article-img-container {
    position: relative;
    display: flex;
    justify-content: center;
}
.article-img {
    width: 100%;
    height: auto;
}
.author-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
    position: absolute;
    top: -50px;
}
.article-text {
    margin: 20px 0px;
    text-align: justify;
}
.article-text li {
    margin-right: 35px;
    position: relative;
}
.article-text a {
    color: var(--main-color);
    text-decoration: underline;
}
.article-text li::before {
    content: "\e827";
    font-family: "fontello";
    position: absolute;
    right: -20px;
    top: 9px;
    color: #15243f;
}
.article-footer {
    border-top: 1px solid #ccc;
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.article-footer button {
    padding: 5px 10px;
    background: #fff;
    color: #15243f;
    border: 1px solid #15243f;
    border-radius: 5px;
}
.tags-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 8px 0px 15px 0px;
}
.tags {
    font-size: 12px;
    background: #15243f;
    color: #fff !important;
    padding: 2px 10px;
    border-radius: 12px;
    box-shadow: -1px 3px 5px 0px #7a8aa5;
}
/* Blog Article Page Ends Here */

/* Admin Login Page Starts Here */
.login-wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-bax {
    padding: 40px 20px 40px 20px;
    width: 40%;
    min-width: 250px;
    transform: skew(0deg, 170deg);
    box-shadow: -4px 7px 15px 3px #e9e6e6;
    border-radius: 35px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.login-bax > * {
    transform: skew(182deg, 9deg);
}
.login-bax img {
    width: 60px;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}
.login-bax h3 {
    font-size: 20px;
    color: #15243f;
}
.login-bax p {
    font-size: 16px;
    color: #aeb5b3;
    text-align: center;
    margin-bottom: 20px;
}
#login-btn {
    width: 94%;
    max-width: 400px;
    height: 50px;
    background: #2feebb;
    color: #fff;
    font-size: 18px;
    border-radius: 35px;
    text-shadow: 2px 2px 1px #777474;
    margin-bottom: 10px;
}
.login-err {
    font-size: 16px;
    color: #bd3030 !important;
} 

/* Control Style Starts Here */
.blog-control {
    position: relative;
    width: 94%;
    max-width: 400px;
    height: 50px;
    border: 1px solid #2feebb;
    margin-bottom: 20px;
    border-radius: 35px;
}
.animated {
    position: absolute;
    transition: 0.6s ease;
    z-index: 1;
    color: #2feebb;
    top: 7px;
    right: 15px;
    font-size: 16px;
    background: transparent;
    padding: 0;
    pointer-events: none;
}
.blog-control-input{
    width: calc(100% - 20px);
    max-width: 400px;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 18px;
    position: absolute;
    bottom: 4px;
    right: 10px;
}
.blog-control .ipass {
    position: absolute;
    top: 7px;
    left: 10px;
    color: #928f8f;
    font-size: 18px;
    z-index: 2;
    cursor: pointer;
}
/* Control Style Ends Here */

/* Media Query For 750px And Less Starts Here */
@media only screen and (max-width: 750px) {
    .main-footer section {
        width: 100%;
    }
    .footer-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-social-link {
        align-self: center;
    }
}
