/* Custom Fonts Starts Here */
@font-face{
	src: url('/storage/fonts/Cairo-Regular.ttf'); 
    font-family:'Cairo-Regular';
}
/* Custom Fonts Ends Here */

/* Root Variables Starts Here */
:root{
	--ar-font: 'Cairo-Regular';
	--en-font: 'Cebtury-Gothic';
	--main-color: #4f36cf;
	--sec-color: #2feebb;
	--placeholder-color: #e9e3e3;
}
/* Root Variables Ends Here */

/* Global Style Starts Here */
*{
    padding: 0;
    margin: 0;
    outline: none;
	box-sizing: border-box;
	font-family: var(--ar-font);
}
body{
	width: 100%;
	height: 100%;
	direction: rtl;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
button{
	border: none;
	cursor: pointer;
}
/* Global Style Ends Here */

/* Seller Login Page Starts Here */
 #login-page-wrapper{
	padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
	justify-content: center;
    background-image: url("/storage/img/vertical-waves.webp");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
	position: relative;
} 
#login-page-wrapper::after{
	content: "";
	background: url("/storage/img/horizontal-waves.webp"); 
	background-repeat: no-repeat;
	width: 100%;
	height: 150px;
	position: absolute;
    bottom: 0;
    right: 0;
}
#login-page-wrapper header{
	text-align: center;
	margin-bottom: 20px;
}
#login-page-wrapper header h1{
	color: var(--sec-color);
}
#login-box{
	width: 90%;
    display: flex;
    justify-content: center;
}
#slog-btn{
	border: 0;
    border-radius: 4px;
    padding: 10px;
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}

.err-msg{
	display: none;
	margin-top: 8px;
    text-align: center;
    font-size: 16px !important;
    font-weight: bold;
	color: red;
	transition: .3s;
}
/* Seller Login Page Ends Here */

/* Dashboard Starts Here */
.page-wrapper{
	width: 100%;
	min-height: 100vh;
	padding: 20px;
	background: #fff;
	position: relative;
}
.page-wrapper::before{
	content: "";
	width: 50%;
	height: 100vh;
	background: #15243f;
	position: fixed;
    top: 0;
    left: 0;
	clip-path: polygon(0% 100%, 0% 0, 70% 0, 100% 100%);
}
.page-content{
	min-height: calc(100vh - 40px);
    background: #15243f;
    border-radius: 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	overflow: hidden;
	position: relative;
}
.side-menu{
	padding: 20px;
    min-width: 220px;
	min-height: calc(100vh - 40px);
    background: #15243f;
    z-index: 1;
    position: fixed;
    top: 20px;
    right: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.menu-header img{
	width: 150px;
	height: auto;
}
.side-menu-items{
	margin-top: 20px;
}
.side-menu-items li:not(:last-of-type){
	margin-bottom: 10px;
}
.side-menu-items a{
	display: block;
	width: 100%;
	font-size: 18px;
	color: #fff;
}
.side-menu-items a.aside-active-link{
	color: var(--sec-color);
}
.side-menu-items span{
	font-size: 15px;
}
.in-mobile-menu-logo{
	display: none;
}
.content-section{
	padding: 20px;
	flex-grow: 1;
	min-height: calc(100vh - 40px);
	background: #f1f6fb;
	z-index: 1;
	position: relative;
	margin-right: 220px;
}
#edit-content-btn{
	position: fixed;
    left: 35px;
    background: var(--main-color);
    color: #fff;
    padding: 4px 10px;
    border-radius: 25px;
	z-index: 999;
}
.row-section{
	position: relative;
}
.row-section:not(:last-of-type){
	margin-bottom: 30px;
}
.section-title{
	color: #3e3e3e;
	margin-bottom: 20px;
	display: inline;
	position: relative;
}
.section-title:after{
	content: "";
	background: var(--sec-color);
	width: 100%;
	height: 8px;
	position: absolute;
	right: 8px;
    bottom: 3px;
    transform: skew(300deg,360deg);
    z-index: -1;
}
.cards-container{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 30px;
	margin-top: 40px;
}
.statistic-card{
	flex: 1;
    min-width: 280px;
	max-width: 500px;
    margin: 25px 15px 15px;
	padding: 20px;
	background: #fff;
	border-radius: 20px 0px 20px 20px;
	box-shadow: -9px 18px 20px 0px #afafaffa;
	position: relative;
}
.statistic-card:first-of-type{
	background: #15243f;
	box-shadow: -9px 18px 20px 0px #15243ffa;
}
.statistic-card::before{
	content: "";
	width: 150px;
	height: 50px;
	background: #fff;
	position: absolute;
	top: -35px;
    right: 0;
    border-top-right-radius: 20px;
	clip-path: polygon(0% 100%, 16% 0%, 100% 0, 100% 100%);
}
.statistic-card:first-of-type::before{
	background: #15243f;
}
.card-title{
	color: #aeb5b3;
	font-size: 16px;
    font-weight: normal;
	position: absolute;
    top: -32px;
}
.statistic-card:first-of-type .card-title{
	color: var(--sec-color);
}
.card-value{
	text-align: center;
	color: #aeb5b3;
	font-size: 40px;
}
.statistic-card:first-of-type .card-value{
	color: var(--sec-color);
}
.card-tail{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.detailed-statistics{
	flex: 1;
	margin: 10px 0px;
}
.detailed-statistics{
	text-align: center;
	color: #aeb5b3;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.statistic-card:first-of-type .detailed-statistics{
	color: #fff;
}
.detail-title{
	font-size: 14px;
	margin-bottom: 5px;
}
.circular-progress{
	width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circular-progress h5{
	font-size: 22px;
}
.inline-filter{
	position: absolute;
    top: 0;
    left: 0;
	font-size: 14px;
    color: #15243f;
	display: flex;
    align-items: center;
}
.inline-filter .nice-select{
	background-color: transparent !important;
	border: none !important;
	padding-left: 0 !important;
	text-align: center !important;
}
.inline-filter .nice-select .current{
	display: none !important;
}
.inline-filter .nice-select .option:hover, .inline-filter .nice-select .option.focus, .inline-filter .nice-select .option.selected.focus{
	background-color: #f1f6fb !important;
}
.inline-filter .nice-select .option{
	text-align: center !important;
}
.inline-filter img{
	width: 16px;
    height: 16px;
    margin-left: 8px;
	cursor: pointer;
}
.listed-data-rows{
	margin-top: 80px;
}
.list-row{
	display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.list-row li{
	padding: 35px 5px 5px 5px;
    width: 300px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 2px 2px 15px #f1eeee;
	position: relative;
	margin-bottom: 60px;
}
.list-row h5{
	font-size: 18px;
    color: #15243f;
}
.list-row p{
	font-size: 16px;
    color: #aeb5b3;
}
.polygon-container{
	width: 80px;
    height: 80px;
    position: absolute;
    top: -48px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px -2px 3px#ccc);
}
.seller-polygon-img{
	width: 80px;
	height: 80px;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	padding: 10px;
}
.list-row .data{
	width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.list-row .data span{
	color: #aeb5b3;
}
.list-row img{
	width: 50px;
    height: 50px;
	object-fit: contain;
}
.list-row .options{
	width: 100%;
	padding: 5px;
	display: flex;
	align-items: center;
	gap: 8px;
	margin: 10px 0px 10px 10px;
}
.mini-approve,
.mini-discard,
.mini-preview{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    box-shadow: 0 0 0px 7px #f9f9f9;
    color: #a1a0a0;
    background: #fff;
}
.mini-status{
	font-size: 12px;
    color: #a1a0a0;
	margin-left: auto;
}
#save-edits-btn{
	background: #cdf7c8;
    color: #249616;
    padding: 8px 15px 8px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#load-more-sellers-msg{
	text-align: center;
	font-size: 14px;
	color: #15243f;
}
.popup,
.popup-success-msg,
.popup-error-msg,
.popup-img,
.popup-preview-img{
	padding: 20px;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	display: none;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,.6);
	z-index: 9999;
}
.msg{
	background: #fff;
	color: #8b8b8b;
	padding: 20px 30px;
	border-radius: 6px;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.msg i{
	margin-left: 10px;
}
.model-msg-box{
	width: 500px;
	min-width: 250px;
	background: #fff;
	padding: 20px 20px;
	border-radius: 10px;
	display: flex;
	flex-flow: column;
	gap: 10px;
	align-items: center;
}
.model-msg-box .icon-decorative{
	width: 80px;
	height: 80px;
	border: 2px solid var(--sec-color);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
    color: var(--sec-color);
}
.model-msg-box button{
	padding: 5px 15px;
    border-radius: 25px;
} 
.model{
	width: 600px;
	min-width: 250px;
	background: #fff;
	padding: 20px 20px;
	border-radius: 10px;
}
.model-header{
	display: flex;
	flex-flow: row-reverse;
	justify-content: space-between;
	align-items: center;
}
.model-discard{
	cursor: pointer;
}
.model-header-seprator{
	margin: 10px auto;
    border-top: 1px solid #efebeb;
}
#reject-txt{
	width: 100%;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 4px;
	padding: 10px;
}
.model-footer{
	display: flex;
	gap: 15px;
	justify-content: center;
	align-items: center;
}
.model-footer button{
	padding: 5px 20px;
    border-radius: 20px;
}
.model-danger{
	background: #ffdddd;
    color: #bd3030;
}
.model-cancel{
	background: #efeeee;
	color: #868383;
}
.model-result-box{
	display: flex;
	flex-flow: column;
	gap: 10px;
	align-items: center;
}
.model-result-box .icon-decorative{
	width: 80px;
	height: 80px;
	border: 2px solid var(--sec-color);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
    color: var(--sec-color);
}
.model-result-close-btn{
	padding: 5px 15px;
    border-radius: 25px;
} 
.model-msg{
	text-align: center;
	color: red;
	font-size: 14px;
	display: none;
	margin-top: 10px;
}
.img-upload-popup{
	width: 40%;
	min-width: 280px;
	background: #fff;
	border-radius: 4px;
}
.img-upload-popup header,
.popup-preview-img header{
	display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
}
.img-upload-popup header::before,
.popup-preview-img header::before{
	content: "";
	background: var(--sec-color);
	width: 60%;
	height: 2px;
	position: absolute;
	top: 0;
    right: 0;
}
.img-upload-title{
	padding: 4px 8px;
    color: var(--sec-color);
	font-weight: normal;
	margin-bottom: 20px;
}
.img-upload-popup .model-close{
	margin-left: 5px;
	cursor: pointer;
}
.img-upload-popup .model-body{
	padding: 20px;
    display: flex;
    flex-flow: column;
    gap: 10px;
    align-items: center;
}
.model-img{
	width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
	box-shadow: 0 0 10px 2px #cbcbcb;
}
.model-file-input{
	display: none;
}
.trigger-upload{
	background: transparent;
    color: var(--sec-color);
    margin-top: 8px;
}
.model-msg{
	margin-top: 8px;
	text-align: center;
	font-size: 14px;
	display: none;
}
.upload-btn{
	color: #fff;
    background: var(--sec-color);
    padding: 4px 12px;
    border-radius: 25px;
    box-shadow: 0px 2px 2px 2px #c5fbed;
}
.product-img-preview{
	background: #fff;
	width: 500px;
	min-width: 250px;
	height: auto;
	border-radius: 2px;
	position: relative;
}
.product-img-preview img{
	width: 100%;
	height: auto;
	border-radius: 20px;
}
.product-img-container{
	padding: 20px;
}
.model-buttons{
	display: flex;
	gap: 10px;
	justify-content: center;
}
.model-buttons button{
	padding: 5px 8px 5px 10px;
    border-radius: 20px;
}
.replace-product-image{
	background: var(--sec-color);
	color: #fff;
}
.delete-product-image{
	background: #cf362b1c;
    color: #cf362b;
}
.delete-notice{
	margin: 10px 0px;
	text-align: center;
}
.delete-option{
	margin: 0px 5px;
    color: #f54134;
	cursor: pointer;
}
.undo-option{
    color: #979190;
	cursor: pointer;
}
/* Dashboard Ends Here */

/* View Seller Page Starts Here */
.seller-intro{
	display: flex;
	gap: 10px;
	align-items: center;
	margin-top: 25px;
}
.seller-intro .polygon-container{
	position: unset;
	top: unset;
}
.seller-intro .polygon-container img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.image-form{
	position: relative;
}
.image-form img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: contain;
	box-shadow: 0 0 10px 2px #cbcbcb;
}
.camera-upload{
	position: absolute;
    top: 0;
    left: 5px;
}
.seller-intro .seller-main-data{
	flex: 1;
}
.seller-intro .seller-main-data h3{
	color: #15243f;
}
.seller-intro .seller-main-data h5{
	color: #606060;
	font-weight: normal;
	font-size: 17px;
}
.row-box{
	background: #fff;
    border-radius: 4px;
	margin-bottom: 20px;
}
.row-box-header{
	width: 100%;
    padding: 4px 10px;
    display: flex;
	gap: 15px;
    align-items: center;
	position: relative;
}
.row-box-header::before{
	content: "";
	width: 60%;
	min-width: 150px;
	height: 1px;
	background: var(--sec-color);
	position: absolute;
	top: 0;
	right: 0;
}
.row-box-header h3{
	color: var(--sec-color);
    font-weight: normal;
	position: relative;
}
.edit-tag,
.save-edits-tag{
	padding: 0px 6px 2px 6px;
	font-size: 12px;
	background: #e3fdf6;
	color: var(--sec-color);
	border-radius: 5px;
	cursor: pointer;
}
.discard-changes{
	padding: 0px 6px 2px 6px;
    font-size: 12px;
    color: #a9a1a1;
    border-radius: 5px;
    cursor: pointer;
}
.key-value{
	font-size: 14px;
	padding: 10px;
}
.key-value:last-of-type{
	padding-bottom: 20px;
}
.key-value .key{
	margin-left: 10px;
	color: var(--sec-color);
}
.key-value .value{
	padding: 2px 6px;
    color: #606060;
    border: 1px solid;
    border-color: transparent;
}
.seller-info-img{
	display: block;
	margin-top: 15px;
	width: 300px;
	min-width: 220px;
    height: auto;
	object-fit: contain;
}
.multiple-seller-img-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.multiple-seller-img-box img{
	width: 150px;
    min-width: 150px;
    height: 150px;
    border-radius: 20px;
}
.seller-products-img{
	padding: 20px;
    box-shadow: 4px 4px 8px #ddd;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
	overflow: hidden;
}
.product-overlay{
	position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 10%);
	cursor: pointer;
}
.seller-products-img .icon-search{
	position: absolute;
    font-size: 40px;
    color: #ffffffb8;
    text-shadow: 4px 4px 8px #2e2929;
	pointer-events: none;
}
.key-value img{
	border-radius: 20px;
}
.v-circular-options{
	display: flex;
    flex-flow: column;
}
.option-btn{
    padding: 4px 8px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #15243f;
	cursor: pointer;
}
.delete-product-img{
	color: #dd2b2b;
}
/* View Seller Page Ends Here */

/* Profile Seller Starts here */

.passwd{
	width: 250px;height: 20px;
}

.editable:empty:before {
    content: attr(data-placeholder);
}

/* Profile Seller Starts here */


/* Customizing DataTables Plugin Starts Here */
#sellers-table{
	background: #fff;
    padding: 10px;
    border-radius: 20px;
}
.export-box{
	width: 100%;
	padding: 5px;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
}
#sellers-table th{
	text-align: right;
	padding: 10px;
	color: #4644d2;
}
#sellers-table thead{
	background: #dbdef7 !important;
}
#sellers-table tr th:first-of-type{
	border-radius: 0px 20px 20px 0px;
}
#sellers-table tr th:last-of-type{
	border-radius: 20px 0px 0px 20px;
}
table.dataTable thead th, table.dataTable thead td{
	border-bottom: none !important;
	background: #dbdef7 !important;
}
table.dataTable.no-footer{
	border-bottom: none !important;
}
tr.odd td{
	background: #fff !important;
}
tr.even td{
	background: #fff !important;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td{
	border-top: 1px solid #dbdef7 !important;
}
table.dataTable tbody th, table.dataTable tbody td{
	color:#797777;
}
#sellers-table tbody tr:first-of-type td{
	border-top: none !important;
}
#sellers-table tbody tr td:first-of-type a{
	color: #4644d2 !important;
}
#sellers-table select{
	margin-top: 4px;
	border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 10px;
}
.dataTables_wrapper .dataTables_length select{
	border: 1px solid #ccc !important;
    border-radius: 4px !important;
    padding: 2px 0px !important;
	background: #fff !important;
}
.dataTables_wrapper .dataTables_filter input{
	border: 1px solid #ccc !important;
	background: #fff !important;
}
.dataTables_wrapper .dataTables_length{
	margin-bottom: 15px;
}
.dropdown dd,
.dropdown dt {
  margin: 0px;
  padding: 0px;
}
.dropdown ul {
  margin: -1px 0 0 0;
}
.dropdown dd {
  position: relative;
}
.dropdown a,
.dropdown a:visited {
  color: #4644d2;
  text-decoration: none;
  outline: none;
  font-size: 14px;
  text-align: center;
}
.dropdown dt a {
	width: 100%;
  display: inline;
}
.dropdown dt a span,
.multiSel span {
  cursor: pointer;
  padding: 0 3px 2px 0;
}
.dropdown dd ul {
	min-width: 100px;
	background-color: #eff2f9;
	border: 0;
	color: #4644d2;
	display: none;
	left: 0px;
	padding: 2px;
	position: absolute;
	top: 30px;
	list-style: none;
	overflow: auto;
}
.dropdown dd ul li{
	font-size: 14px;
	text-align: right;
	font-weight: normal;
}
.dropdown dd ul li input{
	margin-left: 2px;
}
.dropdown span.value {
  display: none;
}
.dropdown dd ul li a {
  padding: 5px;
  display: block;
}
.dropdown dd ul li a:hover {
  background-color: #fff;
}
/* Customizing DataTables Plugin Ends Here */

/* Media Query To Customize Mini Buttons In 650px And Less Screens Starts Here */
@media only screen and (max-width: 650px) {
	.page-wrapper,.page-content{
		background: #f1f6fb;
	}
	.page-wrapper::before{
		background:transparent;
	}
	.page-content{
		flex-flow: column;
	}
	.menu-header{
		display: none;
	}
	.side-menu-items span{
		display: none;
	}
    .mobile-friendly{
		padding: unset;
		min-width: 100%;
		min-height: unset;
		height: 60px;
		background: #15243f;
		z-index: 2;
		position: fixed;
		top: unset;
		right: 0;
		bottom: 0;
		border-top-right-radius: 20px;
		border-bottom-right-radius: unset;
		border-top-left-radius: 20px;
	}
	.side-menu-items{
		margin-top: unset;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		height: 60px;
	}
	.side-menu-items li:not(:last-of-type){
		margin-bottom: unset;
	}
	.content-section{
		margin-right: unset;
		padding: unset;
		width: 100%;
	}
	.seller-intro{
		flex-flow: column;
	}
	.seller-intro .seller-main-data{
		text-align: center;
	}
	.edit-tag, .save-edits-tag{
		margin-right: auto;
	}
	.key-value img{
		margin: 0 auto;
	}
	.in-mobile-menu-logo{
		display: block;
		width: 22px;
		height: auto;
	}
	.side-menu-items a{
		width: unset;
		font-size: 30px;
	}
	.row-boxes-container{
		margin-bottom: 60px;
	}
	.statistic-card:first-of-type{
		box-shadow: -6px 12px 8px 0px #15243ffa;
	}
	.statistic-card{
		box-shadow: -6px 12px 8px 0px #afafaffa;
	}
}
/* Media Query To Customize Mini Buttons In 650px And Less Screens Ends Here */