@font-face {
    font-family: "fontello";
    src: url("/storage/fonts/fontello.eot?15176002");
    src: url("/storage/fonts/fontello.eot?15176002#iefix")
            format("embedded-opentype"),
        url("/storage//fonts/fontello.woff2?15176002") format("woff2"),
        url("/storage/fonts/fontello.woff?15176002") format("woff"),
        url("/storage/fonts/fontello.ttf?15176002") format("truetype"),
        url("/storage/fonts/fontello.svg?15176002#fontello") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-emo-happy:before {
    content: "\e800";
}
.icon-emo-wink:before {
    content: "\e801";
}
.icon-emo-unhappy:before {
    content: "\e802";
}
.icon-emo-sleep:before {
    content: "\e803";
}
.icon-search:before {
    content: "\e804";
}
.icon-mail:before {
    content: "\e805";
}
.icon-heart:before {
    content: "\e806";
}
.icon-heart-empty:before {
    content: "\e807";
}
.icon-star:before {
    content: "\e808";
}
.icon-star-empty:before {
    content: "\e809";
}
.icon-user:before {
    content: "\e80a";
}
.icon-users:before {
    content: "\e80b";
}
.icon-picture:before {
    content: "\e80c";
}
.icon-camera:before {
    content: "\e80d";
}
.icon-ok:before {
    content: "\e80e";
}
.icon-cancel:before {
    content: "\e80f";
}
.icon-plus:before {
    content: "\e810";
}
.icon-minus:before {
    content: "\e811";
}
.icon-emo-laugh:before {
    content: "\e812";
}
.icon-emo-wink2:before {
    content: "\e813";
}
.icon-link:before {
    content: "\e814";
}
.icon-attach:before {
    content: "\e815";
}
.icon-lock:before {
    content: "\e816";
}
.icon-lock-open:before {
    content: "\e817";
}
.icon-pin:before {
    content: "\e818";
}
.icon-eye:before {
    content: "\e819";
}
.icon-eye-off:before {
    content: "\e81a";
}
.icon-bookmark:before {
    content: "\e81b";
}
.icon-thumbs-up:before {
    content: "\e81c";
}
.icon-thumbs-down:before {
    content: "\e81d";
}
.icon-download:before {
    content: "\e81e";
}
.icon-upload:before {
    content: "\e81f";
}
.icon-forward:before {
    content: "\e820";
}
.icon-bell:before {
    content: "\e821";
}
.icon-trash-empty:before {
    content: "\e822";
}
.icon-cog:before {
    content: "\e823";
}
.icon-cog-alt:before {
    content: "\e824";
}
.icon-wrench:before {
    content: "\e825";
}
.icon-down-open:before {
    content: "\e826";
}
.icon-left-open:before {
    content: "\e827";
}
.icon-right-open:before {
    content: "\e828";
}
.icon-up-open:before {
    content: "\e829";
}
.icon-cw:before {
    content: "\e82a";
}
.icon-ccw:before {
    content: "\e82b";
}
.icon-arrows-cw:before {
    content: "\e82c";
}
.icon-award:before {
    content: "\e82d";
}
.icon-globe:before {
    content: "\e82e";
}
.icon-gift:before {
    content: "\e82f";
}
.icon-chart-bar:before {
    content: "\e830";
}
.icon-credit-card:before {
    content: "\e831";
}
.icon-spin3:before {
    content: "\e832";
}
.icon-hammer:before {
    content: "\e833";
}
.icon-spin4:before {
    content: "\e834";
}
.icon-search-1:before {
    content: "\e835";
}
.icon-star-1:before {
    content: "\e836";
}
.icon-star-empty-1:before {
    content: "\e837";
}
.icon-user-1:before {
    content: "\e838";
}
.icon-spin6:before {
    content: "\e839";
}
.icon-users-1:before {
    content: "\e83a";
}
.icon-user-add:before {
    content: "\e83b";
}
.icon-picture-1:before {
    content: "\e83c";
}
.icon-camera-1:before {
    content: "\e83d";
}
.icon-menu-1:before {
    content: "\e83e";
}
.icon-check:before {
    content: "\e83f";
}
.icon-cancel-1:before {
    content: "\e840";
}
.icon-plus-1:before {
    content: "\e841";
}
.icon-minus-1:before {
    content: "\e842";
}
.icon-link-1:before {
    content: "\e843";
}
.icon-attach-1:before {
    content: "\e844";
}
.icon-lock-1:before {
    content: "\e845";
}
.icon-lock-open-1:before {
    content: "\e846";
}
.icon-thumbs-up-1:before {
    content: "\e847";
}
.icon-thumbs-down-1:before {
    content: "\e848";
}
.icon-download-1:before {
    content: "\e849";
}
.icon-upload-1:before {
    content: "\e84a";
}
.icon-upload-cloud-1:before {
    content: "\e84b";
}
.icon-reply-1:before {
    content: "\e84c";
}
.icon-forward-1:before {
    content: "\e84d";
}
.icon-export:before {
    content: "\e84e";
}
.icon-print:before {
    content: "\e84f";
}
.icon-bell-1:before {
    content: "\e850";
}
.icon-vcard:before {
    content: "\e851";
}
.icon-trash-1:before {
    content: "\e852";
}
.icon-phone:before {
    content: "\e853";
}
.icon-cog-1:before {
    content: "\e854";
}
.icon-tools:before {
    content: "\e855";
}
.icon-share-1:before {
    content: "\e856";
}
.icon-down-open-1:before {
    content: "\e857";
}
.icon-left-open-1:before {
    content: "\e858";
}
.icon-right-open-1:before {
    content: "\e859";
}
.icon-up-open-1:before {
    content: "\e85a";
}
.icon-down-open-mini:before {
    content: "\e85b";
}
.icon-left-open-mini:before {
    content: "\e85c";
}
.icon-right-open-mini:before {
    content: "\e85d";
}
.icon-up-open-mini:before {
    content: "\e85e";
}
.icon-down-open-big:before {
    content: "\e85f";
}
.icon-left-open-big:before {
    content: "\e860";
}
.icon-right-open-big:before {
    content: "\e861";
}
.icon-up-open-big:before {
    content: "\e862";
}
.icon-erase:before {
    content: "\e863";
}
.icon-chart-pie-1:before {
    content: "\e864";
}
.icon-chart-line-1:before {
    content: "\e865";
}
.icon-chart-bar-1:before {
    content: "\e866";
}
.icon-chart-area-1:before {
    content: "\e867";
}
.icon-floppy:before {
    content: "\e868";
}
.icon-rocket-1:before {
    content: "\e869";
}
.icon-search-outline:before {
    content: "\e86a";
}
.icon-search-2:before {
    content: "\e86b";
}
.icon-star-2:before {
    content: "\e86c";
}
.icon-star-filled:before {
    content: "\e86d";
}
.icon-user-outline:before {
    content: "\e86e";
}
.icon-user-2:before {
    content: "\e86f";
}
.icon-users-outline:before {
    content: "\e870";
}
.icon-users-2:before {
    content: "\e871";
}
.icon-user-add-outline:before {
    content: "\e872";
}
.icon-user-add-1:before {
    content: "\e873";
}
.icon-user-delete-outline:before {
    content: "\e874";
}
.icon-user-delete:before {
    content: "\e875";
}
.icon-videocam-outline:before {
    content: "\e876";
}
.icon-videocam:before {
    content: "\e877";
}
.icon-picture-outline:before {
    content: "\e878";
}
.icon-picture-2:before {
    content: "\e879";
}
.icon-camera-outline:before {
    content: "\e87a";
}
.icon-camera-2:before {
    content: "\e87b";
}
.icon-th-outline:before {
    content: "\e87c";
}
.icon-th:before {
    content: "\e87d";
}
.icon-th-large-outline:before {
    content: "\e87e";
}
.icon-th-large:before {
    content: "\e87f";
}
.icon-th-list-outline:before {
    content: "\e880";
}
.icon-th-list:before {
    content: "\e881";
}
.icon-ok-outline:before {
    content: "\e882";
}
.icon-ok-1:before {
    content: "\e883";
}
.icon-cancel-outline:before {
    content: "\e884";
}
.icon-cancel-2:before {
    content: "\e885";
}
.icon-cancel-alt:before {
    content: "\e886";
}
.icon-cancel-alt-filled:before {
    content: "\e887";
}
.icon-plus-outline:before {
    content: "\e888";
}
.icon-minus-outline:before {
    content: "\e889";
}
.icon-info-outline:before {
    content: "\e88a";
}
.icon-info:before {
    content: "\e88b";
}
.icon-home-outline:before {
    content: "\e88c";
}
.icon-home:before {
    content: "\e88d";
}
.icon-lock-2:before {
    content: "\e88e";
}
.icon-lock-filled:before {
    content: "\e88f";
}
.icon-lock-open-2:before {
    content: "\e890";
}
.icon-lock-open-filled:before {
    content: "\e891";
}
.icon-pin-outline:before {
    content: "\e892";
}
.icon-pin-1:before {
    content: "\e893";
}
.icon-bookmark-1:before {
    content: "\e894";
}
.icon-thumbs-up-2:before {
    content: "\e895";
}
.icon-thumbs-down-2:before {
    content: "\e896";
}
.icon-download-outline:before {
    content: "\e897";
}
.icon-download-2:before {
    content: "\e898";
}
.icon-upload-outline:before {
    content: "\e899";
}
.icon-upload-2:before {
    content: "\e89a";
}
.icon-upload-cloud-outline:before {
    content: "\e89b";
}
.icon-upload-cloud-2:before {
    content: "\e89c";
}
.icon-reply-outline:before {
    content: "\e89d";
}
.icon-reply-2:before {
    content: "\e89e";
}
.icon-forward-outline:before {
    content: "\e89f";
}
.icon-forward-2:before {
    content: "\e8a0";
}
.icon-code-outline:before {
    content: "\e8a1";
}
.icon-code-1:before {
    content: "\e8a2";
}
.icon-export-outline:before {
    content: "\e8a3";
}
.icon-export-1:before {
    content: "\e8a4";
}
.icon-print-1:before {
    content: "\e8a5";
}
.icon-bell-2:before {
    content: "\e8a6";
}
.icon-attention:before {
    content: "\e8a7";
}
.icon-attention-filled:before {
    content: "\e8a8";
}
.icon-warning-empty:before {
    content: "\e8a9";
}
.icon-warning:before {
    content: "\e8aa";
}
.icon-vcard-1:before {
    content: "\e8ab";
}
.icon-location-outline:before {
    content: "\e8ac";
}
.icon-location:before {
    content: "\e8ad";
}
.icon-trash-2:before {
    content: "\e8ae";
}
.icon-phone-outline:before {
    content: "\e8af";
}
.icon-phone-1:before {
    content: "\e8b0";
}
.icon-menu-outline:before {
    content: "\e8b1";
}
.icon-menu-2:before {
    content: "\e8b2";
}
.icon-cog-outline:before {
    content: "\e8b3";
}
.icon-wrench-outline:before {
    content: "\e8b4";
}
.icon-wrench-1:before {
    content: "\e8b5";
}
.icon-lightbulb:before {
    content: "\e8b6";
}
.icon-left-open-outline:before {
    content: "\e8b7";
}
.icon-right-open-outline:before {
    content: "\e8b8";
}
.icon-down:before {
    content: "\e8b9";
}
.icon-left:before {
    content: "\e8ba";
}
.icon-right:before {
    content: "\e8bb";
}
.icon-up:before {
    content: "\e8bc";
}
.icon-down-outline:before {
    content: "\e8bd";
}
.icon-left-outline:before {
    content: "\e8be";
}
.icon-right-outline:before {
    content: "\e8bf";
}
.icon-up-outline:before {
    content: "\e8c0";
}
.icon-plug-1:before {
    content: "\e8c1";
}
.icon-desktop-1:before {
    content: "\e8c2";
}
.icon-globe-1:before {
    content: "\e8c3";
}
.icon-brush-1:before {
    content: "\e8c4";
}
.icon-power-outline:before {
    content: "\e8c5";
}
.icon-power:before {
    content: "\e8c6";
}
.icon-gift-1:before {
    content: "\e8c7";
}
.icon-chart-outline:before {
    content: "\e8c8";
}
.icon-chart:before {
    content: "\e8c9";
}
.icon-chart-alt-outline:before {
    content: "\e8ca";
}
.icon-chart-alt:before {
    content: "\e8cb";
}
.icon-chart-bar-outline:before {
    content: "\e8cc";
}
.icon-chart-bar-2:before {
    content: "\e8cd";
}
.icon-chart-pie-outline:before {
    content: "\e8ce";
}
.icon-chart-pie-2:before {
    content: "\e8cf";
}
.icon-facebook-2:before {
    content: "\e8d0";
}
.icon-twitter-2:before {
    content: "\e8d1";
}
.icon-mail-1:before {
    content: "\e8d2";
}
.icon-picture-3:before {
    content: "\e8d3";
}
.icon-lock-open-3:before {
    content: "\e8d4";
}
.icon-lock-open-empty:before {
    content: "\e8d5";
}
.icon-globe-2:before {
    content: "\e8d6";
}
.icon-mail-2:before {
    content: "\e8d7";
}
.icon-twitter-3:before {
    content: "\e8d8";
}
.icon-youtube:before {
    content: "\e8d9";
}
.icon-picture-4:before {
    content: "\e8da";
}
.icon-eye-1:before {
    content: "\e8db";
}
.icon-eye-off-1:before {
    content: "\e8dc";
}
.icon-cogs:before {
    content: "\e8dd";
}
.icon-wrench-2:before {
    content: "\e8de";
}
.icon-gauge-1:before {
    content: "\e8df";
}
.icon-mail-3:before {
    content: "\e8e0";
}
.icon-heart-1:before {
    content: "\e8e1";
}
.icon-camera-3:before {
    content: "\e8e2";
}
.icon-photo:before {
    content: "\e8e3";
}
.icon-attach-2:before {
    content: "\e8e4";
}
.icon-lock-3:before {
    content: "\e8e5";
}
.icon-thumbs-up-3:before {
    content: "\e8e6";
}
.icon-location-1:before {
    content: "\e8e7";
}
.icon-cog-2:before {
    content: "\e8e8";
}
.icon-params:before {
    content: "\e8e9";
}
.icon-lightbulb-1:before {
    content: "\e8ea";
}
.icon-desktop-2:before {
    content: "\e8eb";
}
.icon-mobile-1:before {
    content: "\e8ec";
}
.icon-globe-4:before {
    content: "\e8ed";
}
.icon-paper-plane-2:before {
    content: "\e8ee";
}
.icon-database-1:before {
    content: "\e8ef";
}
.icon-picture-5:before {
    content: "\e8f0";
}
.icon-link-2:before {
    content: "\e8f1";
}
.icon-attach-3:before {
    content: "\e8f2";
}
.icon-logout:before {
    content: "\e8f3";
}
.icon-globe-3:before {
    content: "\f018";
}
.icon-globe-inv:before {
    content: "\f019";
}
.icon-paper-plane-1:before {
    content: "\f01d";
}
.icon-download-3:before {
    content: "\f02e";
}
.icon-upload-3:before {
    content: "\f02f";
}
.icon-print-2:before {
    content: "\f087";
}
.icon-bookmark-empty:before {
    content: "\f097";
}
.icon-twitter:before {
    content: "\f099";
}
.icon-facebook:before {
    content: "\f09a";
}
.icon-menu:before {
    content: "\f0c9";
}
.icon-money:before {
    content: "\f0d6";
}
.icon-mail-alt:before {
    content: "\f0e0";
}
.icon-gauge:before {
    content: "\f0e4";
}
.icon-sitemap:before {
    content: "\f0e8";
}
.icon-download-cloud:before {
    content: "\f0ed";
}
.icon-upload-cloud:before {
    content: "\f0ee";
}
.icon-bell-alt:before {
    content: "\f0f3";
}
.icon-angle-double-left:before {
    content: "\f100";
}
.icon-angle-double-right:before {
    content: "\f101";
}
.icon-angle-double-up:before {
    content: "\f102";
}
.icon-angle-double-down:before {
    content: "\f103";
}
.icon-angle-left:before {
    content: "\f104";
}
.icon-angle-right:before {
    content: "\f105";
}
.icon-angle-up:before {
    content: "\f106";
}
.icon-angle-down:before {
    content: "\f107";
}
.icon-desktop:before {
    content: "\f108";
}
.icon-mobile:before {
    content: "\f10b";
}
.icon-quote-left:before {
    content: "\f10d";
}
.icon-quote-right:before {
    content: "\f10e";
}
.icon-spinner:before {
    content: "\f110";
}
.icon-reply:before {
    content: "\f112";
}
.icon-code:before {
    content: "\f121";
}
.icon-fork:before {
    content: "\f126";
}
.icon-rocket:before {
    content: "\f135";
}
.icon-lock-open-alt:before {
    content: "\f13e";
}
.icon-dollar:before {
    content: "\f155";
}
.icon-thumbs-up-alt:before {
    content: "\f164";
}
.icon-thumbs-down-alt:before {
    content: "\f165";
}
.icon-google:before {
    content: "\f1a0";
}
.icon-database:before {
    content: "\f1c0";
}
.icon-file-image:before {
    content: "\f1c5";
}
.icon-paper-plane:before {
    content: "\f1d8";
}
.icon-paper-plane-empty:before {
    content: "\f1d9";
}
.icon-share:before {
    content: "\f1e0";
}
.icon-binoculars:before {
    content: "\f1e5";
}
.icon-plug:before {
    content: "\f1e6";
}
.icon-cc-visa:before {
    content: "\f1f0";
}
.icon-cc-mastercard:before {
    content: "\f1f1";
}
.icon-cc-paypal:before {
    content: "\f1f4";
}
.icon-trash:before {
    content: "\f1f8";
}
.icon-at:before {
    content: "\f1fa";
}
.icon-brush:before {
    content: "\f1fc";
}
.icon-birthday:before {
    content: "\f1fd";
}
.icon-chart-area:before {
    content: "\f1fe";
}
.icon-chart-pie:before {
    content: "\f200";
}
.icon-chart-line:before {
    content: "\f201";
}
.icon-heartbeat:before {
    content: "\f21e";
}
.icon-whatsapp:before {
    content: "\f232";
}
.icon-user-plus:before {
    content: "\f234";
}
.icon-hourglass-1:before {
    content: "\f251";
}
.icon-hourglass-2:before {
    content: "\f252";
}
.icon-hourglass-3:before {
    content: "\f253";
}
.icon-hourglass:before {
    content: "\f254";
}
.icon-gg:before {
    content: "\f260";
}
.icon-television:before {
    content: "\f26c";
}
.icon-address-card:before {
    content: "\f2bb";
}
.icon-address-card-o:before {
    content: "\f2bc";
}
.icon-user-circle:before {
    content: "\f2bd";
}
.icon-user-circle-o:before {
    content: "\f2be";
}
.icon-facebook-3:before {
    content: "\f300";
}
.icon-twitter-1:before {
    content: "\f309";
}
.icon-facebook-1:before {
    content: "\f30c";
}
.icon-facebook-circled:before {
    content: "\f30d";
}
