/* Custom Fonts Starts Here */
@font-face {
    src: url("/storage/fonts/Cairo-Regular.ttf");
    font-family: "Cairo-Regular";
}
/* Custom Fonts Ends Here */

/* Root Variables Starts Here */
:root {
    --ar-font: "Cairo-Regular";
    --main-color: #4f36cf;
    --sec-color: #2feebb;
    --placeholder-color: #e9e3e3;
}
/* Root Variables Ends Here */

/* Custom Scroll Bar For Google Chrome Starts Here */
::-webkit-scrollbar {
    width: 4px;
    background: #15243f;
}
::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 2px;
}
/* Custom Scroll Bar For Google Chrome Ends Here */

/* Global Style Starts Here */
* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: var(--ar-font);
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100%;
    direction: rtl;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
button {
    border: none;
    cursor: pointer;
}
/* Global Style Ends Here */

/* Landing Page Starts Here */
header.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}
.main-nav {
    width: 80%;
    margin: 10px auto;
    background: #15243f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    border-radius: 36px;
    position: relative;
    transition: 0.5s;
}
.nav-logo img {
    width: 100px;
    height: auto;
}
.nav-menu {
    flex: 1;
    display: flex;
    justify-content: center;
    background: transparent;
}
.main-nav-only-child {
    justify-content: end;
}
.nav-logo {
    margin-left: 20px;
    width: 100px;
    height: 40px;
}
.nav-menu-item {
    margin: 0px 10px;
}
.menu-item-content {
    color: #fff;
    font-size: 18px;
    transition: 0.5s;
    position: relative;
}
.active-tab::after {
    content: "";
    width: 20px;
    height: 2px;
    background: #2feebb;
    position: absolute;
    bottom: 0;
    right: 0;
}
.active-tab {
    color: #2feebb;
}
#menu-collapse {
    position: absolute;
    left: 20px;
    width: 30px;
    height: 30px;
    background: transparent;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: end;
    visibility: hidden;
}
#menu-collapse span:not(:nth-of-type(2)) {
    width: 25px;
    height: 2px;
    background: #2feebb;
}
#menu-collapse span:nth-of-type(2) {
    width: 15px;
    height: 2px;
    background: #2feebb;
}
.full {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;
}
.full:not(:first-of-type) {
    padding-top: 80px;
    text-align: center;
}
.skewed {
    width: 100%;
    min-width: 300px;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin-right: 20px;
}
.skewed h1::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    top: -50px;
    right: 5px;
    background: url("/storage/img/lines.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url("/storage/img/intro.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.skewed h1 {
    font-size: 40px;
    color: #2feebb;
    position: relative;
}
.skewed h3 {
    font-size: 26px;
    color: #fff;
    margin-bottom: 20px;
}
.skewed p {
    width: 60%;
    color: #fff;
    margin-bottom: 20px;
}
.pr-btn {
    background: #15243f;
    color: #fff !important; 
    padding: 6px 30px;
    border: none;
    border-radius: 25px;
    font-size: 17px;
    box-shadow: 3px 4px #2feebb;
} 

.intro-drcoration {
    position: absolute;
    bottom: 10px;
    right: 50%;
    width: 100px;
    height: 100px;
}
.has-decoration {
    width: 100%;
    font-size: 26px;
    text-align: center;
    color: #3e3e3e;
    margin-bottom: 20px;
    position: relative;
}
.features {
    min-height: 100%;
    margin-bottom: 60px;
}
.features-container {
    margin-top: -90px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
}
.feature {
    width: 300px;
    padding: 20px;
}
.feature:nth-of-type(2) {
    margin-top: 60px;
}
.feature i {
    font-size: 50px;
    color: #15243f;
    position: relative;
}
.feature i::after {
    content: "";
    position: absolute;
    top: 22px;
    right: 46px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2feebb;
    z-index: -1;
}
.feature h4 {
    font-size: 20px;
    color: #15243f;
}
.feature p {
    font-size: 14px;
    width: 70%;
    margin: 0 auto;
    color: #9d9999;
}
.delegates {
    width: 100%;
    padding: 60px 10px;
    background: #2feebb;
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
    position: relative;
}
.delegates::after {
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #15243f;
    z-index: -1;
}
.delegates .has-decoration {
    color: #fff;
    text-shadow: 1px 2px rgb(88, 88, 88);
}
.section-desc {
    text-align: center;
    color: #15243f;
}
.delegates-areas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    margin-top: 40px;
}
.area {
    min-width: 250px;
}
.area-map-gps {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 1px dashed #fff;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.area-map-gps::after {
    position: absolute;
    bottom: -10px;
    right: 45%;
    display: inline-block;
    border-top: 1px dashed #fff;
    border-right: 1px dashed #fff;
    width: 20px;
    height: 20px;
    transform: rotate(137deg);
    background: #2feebb;
    z-index: 1;
    content: "";
}
.delegates-container {
    width: 100%;
    margin-top: 30px;
}
.area-map-gps img {
    width: 220px;
    height: auto;
}
.single-area {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.single-delegate a {
    display: flex;
    align-items: center;
    position: relative;
    color: #fff;
}
.single-delegate:not(:last-of-type) {
    margin-bottom: 30px;
}
.single-delegate i {
    /*width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px dashed #fff;
    position: absolute;
    top: -20px;
    right: -15px;*/
    position: absolute;
    top: -28px;
    right: -17px;
    font-size: 30px;
}
.single-delegate h5 {
    width: 100%;
    padding: 5px 30px 5px 5px;
    border-radius: 20px;
    border: 1px dashed #fff;
    text-align: center;
    color: #000;
}
.contact-us {
    background: #15243f;
    display: flex;
    align-items: center;
}
.contact-sections {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.contact-sections section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.footer-img {
    width: 280px;
    margin-bottom: 16px;
}
.footer-txt {
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-bottom: 8px;
}

.knowledge-control label {
    color: #2feebb !important;
    display: block !important;
    text-align: right !important;
    margin-right: 15px !important;
    margin-bottom: 4px !important;
}

.contact-info {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
.contact-sections .has-decoration {
    color: #2feebb;
}
.contact-sections p {
    color: #fff;
    width: 70%;
}
.contact-form {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.contact-action {
    display: flex;
    align-items: center;
}
.contact-err {
    display: none;
    margin-right: 10px;
    color: #fff;
    font-weight: bold;
}
.contact-success {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
}
.contact-img img {
    width: 300px;
    min-width: 300px;
    height: auto;
    object-fit: cover;
}
.contact-info p,
.contact-info a {
    width: 100%;
    font-size: 18px;
    text-align: left;
    color: #fff;
}
.icon-phone:before {
    transform: rotate(136deg);
}
/* Landing Page Ends Here */

/* User Guide Page Starts Here */
.knowledge {
    padding-top: 80px;
}
.c-questions {
    padding: 80px 20px 20px 20px;
}
.section-description {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.tab {
    border: 1px solid #ebe8e8;
    border-radius: 4px;
    margin-bottom: 10px;
}
.tabs {
    padding: 20px;
}
.tab header {
    padding: 10px;
    display: flex;
    align-items: center;
    color: #15243f;
    border-radius: 25px;
    cursor: pointer;
}
.tab header i {
    margin-left: 10px;
}
.answer {
    padding: 10px;
    display: none;
    position: relative;
    border-right: 1px solid var(--sec-color);
    margin-right: -1px;
    font-size: 15px;
}
.answer .listed {
    position: relative;
    margin-right: 20px;
}
.answer .listed::before {
    content: "\e827";
    position: absolute;
    right: -20px;
    top: 7px;
    font-family: "fontello";
}
#kb-topics-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin: 20px 0px 20px 0px;
}
.kb-main-topic {
    width: 350px;
    min-width: 350px;
    padding: 25px 10px 15px 10px;
    border-radius: 30px;
    background: #fff;
    transform: skew(0deg, 170deg);
    box-shadow: -2px -3px 9px 1px #efeaea, -4px 7px 15px 3px #e9e6e6;
}
.kb-main-topic a {
    color: #15243f;
    padding: 20px;
    display: flex;
    gap: 15px;
    border-radius: 6px;
    transition: 0.8s ease;
}
.kb-main-topic a:hover {
    transform: scale(1.1);
}
.kb-main-topic .inner {
    width: 100%;
}
.kb-topic-icon {
    width: 80px;
    height: 80px;
    object-fit: contain;
    align-self: flex-start;
}
.kb-topic-title {
    font-size: 25px;
}
.kb-topic-desc {
    font-size: 15px;
}
.kb-main-topic hr {
    margin-top: 10px;
    border: 1px solid #e7e4e4;
    border-bottom: 0;
}
.kb-topic-counts {
    color: #919191;
    font-size: 14px;
    margin-top: 10px;
}
.seller-footer {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
    background: #15243f;
}
.subscription-box {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.subscription-box p {
    color: #fff;
    margin-bottom: 15px;
}
.subscription-input {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
.subscription-input label {
    color: #2feebb;
    display: block;
    text-align: right;
    margin-right: 15px;
    margin-bottom: 4px;
}
.subscription-input input {
    width: 100%;
    min-width: 250px;
    padding: 6px 10px;
    border-radius: 25px;
    border: none;
    background: #cccc;
    font-size: 18px;
    color: #3e3e3e;
    margin-bottom: 15px;
}
.seller-footer .column {
    display: flex;
    flex-flow: column;
}
.seller-footer .column h3 {
    color: #2feebb;
    text-align: center;
}
.seller-footer .column a {
    color: #fff;
}
.footer-social-link {
    text-align: left;
}
/* User Guide Page Ends Here */

/* Media Query For 900px And Less Starts Here */
@media only screen and (max-width: 900px) {
    .features-container,
    .feature:nth-of-type(2) {
        margin-top: 0;
    }
}
/* Media Query For 900px And Less Ends Here */

/* Media Query For 835px And Less Starts Here */
@media only screen and (max-width: 835px) {
    .subscription-box {
        width: 100%;
    }
}
/* Media Query For 835px And Less Starts Here */

/* Media Query For 750px And Less Starts Here */
@media only screen and (max-width: 750px) {
    .contact-sections {
        flex-flow: column;
        align-items: center;
    }
    .contact-sections .right {
        width: 100%;
    }
    .contact-sections .left {
        flex-flow: row-reverse;
        justify-content: center;
        flex-wrap: wrap;
    }
    .knowledge-control {
        width: 100%;
    }
}
/* Media Query For 750px And Less Ends Here */

/* Media Query For 500px And Less Starts Here */
@media only screen and (max-width: 500px) {
    .seller-footer .column {
        width: 100%;
        align-items: center;
    }
}
/* Media Query For 500px And Less Ends Here */

/* Responsive Menu Starts Here */
@media only screen and (max-width: 710px) {
    #menu-collapse {
        visibility: visible;
    }
    .nav-menu {
        width: 100%;
        display: none;
        flex-flow: column;
        align-items: start;
        position: absolute;
        left: 0px;
        top: 48px;
        background: #fff;
        border-bottom: 1px solid #2feebb;
    }
    .nav-menu-item {
        padding-right: 40px;
    }
    .nav-menu-item:last-of-type {
        margin-bottom: 10px;
    }
    .menu-item-content:not(.active-tab) {
        color: #15243f !important;
    }
}
@media only screen and (min-width: 710px) {
    .main-nav {
        border-radius: 36px !important;
    }
    #menu-collapse {
        visibility: hiden;
    }
    .nav-menu {
        width: 100%;
        display: flex !important;
        flex-flow: row;
        align-items: start;
        position: unset;
        left: 0px;
        top: 0px;
        background: transparent;
    }
    .nav-menu-item {
        padding-right: 0px;
    }
    .nav-menu-item:last-of-type {
        margin-bottom: 0px;
    }
}
@media only screen and (max-width: 450px) {
    .main-nav {
        width: 100%;
        border-radius: 0 !important;
        margin: 0;
    }
}
/* Responsive Menu Ends Here */
