 /* Seller Login Page Starts Here */
#login-page-wrapper{
	padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
	justify-content: center;
    background: #f1f1f1; 
}
#login-sections-wrapper{
	width: 80%;
	min-width: 280px;
	height: 500px;
	display: flex;
	gap: 20px;
	background: #15243f;
	border-radius: 20px;
    box-shadow: 0px 0px 6px #ccc;
	overflow: hidden;
}
#slogin-right{
	width: 50%;
	height: 100%;
	min-width: 280px;
	background: #15243f;
    display: flex;
    flex-flow: column;
	padding: 20px;
}
#slogin-right img{
	width: 220px;
    height: auto;
	margin-bottom: 20px;
}
#slogin-right h1{
	width: 80%;
    color: var(--sec-color);
	font-size: 20px;
    font-weight: lighter;
}
#slogin-right #tail{
	margin-top: auto;
	font-size: 14px;
}
#slogin-right span{
    color: #fff;
	display: block;
}
.decorative-link{
	display: block;
    color: var(--sec-color);
    position: relative;
    margin-right: 30px;
    font-size: 15px;
    margin-bottom: 8px;
}
.decorative-link::before{
	content: "";
	height: 1px;
	width: 20px;
    background: var(--sec-color);
	position: absolute;
	top: 16px;
	right: -28px;
}
#slogin-contacts > *{
	color: #fff;
}
#h-same-social-account{
	display: flex;
	gap: 4px;
	align-items: center;
}
#h-same-social-account a{
	color: #fff;
	font-size: 14px;
}
#slogin-left{
	width: 50%;
    height: 100%;
    min-width: 280px;
    background: #fff;
    display: flex;
    flex-flow: column;
	align-items: center;
	justify-content: center;
    padding: 20px;
}
#slogin-left h3{
	color: var(--sec-color);
	margin-bottom: 10px;
}
#slogin-left p{
	font-size: 14px;
	color: #15243f;
	margin-bottom: 20px;
}
#slogin-left span{
	color: #bfb4ba;
    font-size: 14px;
}
#slogin-left span:first-of-type{
	margin-top: 16px;
}
#slogin-left a{
	color: var(--sec-color);
    font-size: 14px;
}
.seperator-with-ctext{
	width: 94%;
	max-width: 400px;
	display: flex;
	gap: 5px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.seperator-with-ctext .line{
	flex: 1;
	height: 1px;
	background: #aeb5b3;
}
.seperator-with-ctext .ctext{
	color: #aeb5b3;
}
.btn-link{
	width: 94%;
    max-width: 400px;
    height: 46px;
    font-size: 18px ;
	line-height: 46px;
    border-radius: 35px ;
    margin-bottom: 10px;
	text-align: center;
	display: block;
}
.secondary{
	background: #f1f1f1;
	color: #b9b4b4 ;
}
.small-header{
	width: 100%;
	padding: 20px 10px;
	background: #15243f;
	margin-top: -2px;
	display: flex;
	flex-flow: column;
	align-items: center;
	border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
	margin-bottom: 30px;
}
.small-header img{
	width: 200px;
    height: auto;
}
.small-header p{
	color: #fff ;
}
.slogin-small-content{
	display: none;
}
a.slogin-small-content{
	margin-bottom: 16px;
}
#social-column-container{
	text-align: center;
}
.block-link{
	display: block;
}
#social-column-container > *{
	color: #bfb4ba ;
	margin-bottom: 6px ;
}
#social-column-container:last-child{
	margin-bottom:	20px;
}
#login-page-wrapper header{
	text-align: center;
	margin-bottom: 30px;
}
#login-page-wrapper header img{
	width: 150px;
	height: auto;
}
.black-logo{
	width: 150px;
	height: auto;
}
#login-page-wrapper header h1{
	color: var(--main-color);
}
#login-box{
	width: 90%;
    display: flex;
    justify-content: center;
}
#slog-btn{
	border: 0;
    border-radius: 4px;
    padding: 10px;
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}
/* Seller Login Page Ends Here */

/* Seller Registration Page Starts Here */
#reg-page-wrapper{
	display: flex;
	align-items: flex-start;
}
#reg-page-wrapper::after{
	content: "";
    background: url("/storage/img/horizontal-waves.webp");
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: -1;
}
#reg-stepper{
	padding: 20px;
	min-width: 350px;
	min-height: 100vh;
	position: relative;
}
#reg-stepper::before{
	content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
	background-image: url("/storage/img/vertical-waves.webp");
	background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
	z-index: -1;
}
#reg-stepper header{
	text-align: center;
}
#reg-stepper header img{
	width: 150px;
	height: auto;
}
#reg-stepper h1{
	color: var(--main-color);
	font-size: 22px;
}
:is(#reg-stepper) p,a{
	font-size: 16px;
}
#steps-progress{
	margin-top: 20px;
}
#steps-notes{
	position: relative;
}
#steps-notes:before{
	content: "";
    width: 2px;
    height: 100%;
    background: var(--main-color);
    position: absolute;
    top: 0;
    right: 18px;
    z-index: -1;
}
#steps-progress .step{
	margin-top: 10px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}
#steps-progress .step .tick{
	width: 40px;
    height: 40px;
    border: 6px solid var(--sec-color);
    background: var(--main-color);
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
#reg-steps{
	width: calc(100% - 350px);
    display: flex;
    justify-content: center;
    align-items: center;
	padding: 10px;
}
#reg-slides-container{
	min-width: 100%;
	display: flex;
	overflow: hidden;
}
.reg-slide{
	min-width: 100%;
	display: flex;
    flex-flow: column;
	align-items: center;
	transition: .6s linear;
}
.reg-slide h2{
	text-align: center;
	color: var(--main-color);
	margin-bottom: 10px;
}
.controls-container{
	width: calc(250px + 20%);
    min-width: 250px;
	display: flex;
	flex-flow: column;
}
.controls-container p{
	font-size: 12px;
	color: red;
	margin-bottom: 15px;
}
.control { 
    margin-bottom: 10px;
} 
.control textarea {
    resize: none !important;
    height: 120px !important;
}

.control, .selection-control{ 
	height: 50px;
	background: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 5px;
	position: relative;
	margin-bottom: 15px;
}
.control-label{
	font-size: 14px !important;
    color: var(--main-color) !important;
    position: absolute;
    top: -12px !important;
    right: 8px !important;
    background: #fff !important;
    padding: 0px 4px !important;
} 
.control-label span{
	color: red !important;
}
.control .control-input{
	width: 96% !important;
    position: absolute !important; 
    bottom: 2px !important;
	border: 0 !important;
	font-size: 16px !important;
} 
.control-select{
	width: 97%;
	position: absolute;
    bottom: 5px;
    border: 0;
}
.selection-control .selection-container{
	width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 5px;
}
.selection-control .selection-container div{
	display: flex;
    align-items: center;
}
.full-check-control{
	font-size: 14px;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.full-check-control input,
.selection-control input{
	appearance: none;
    background-color: #fff;
    border: 2px solid var(--sec-color);
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-left: 5px;
    transition: .5s;
}
.full-check-control input:checked{
	background-color: var(--sec-color);
    border: 2px solid var(--sec-color);
    color: #fff;
}
.selection-control input:checked{
	background-color: var(--sec-color);
    border: 2px solid var(--sec-color);
    border-radius: 50%;
    color: #fff;
}
.full-check-control input:checked:after{
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: -5px;
	left: 2px;
	color: #fff;
}
.selection-control input:checked:after{
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: -5px;
	left: 2px;
	color: #fff;
}
.v-msg{
	font-size: 12px;
    color: red;
    margin-bottom: 15px;
    margin-top: -15px;
}
.upload-btn{
	align-self: flex-start;
	display: block;
    margin-top: 15px;
	/*margin-bottom: 15px;*/
    border: 0;
    background: #fff;
    cursor: text;
    color: var(--main-color);
	font-size: 14px;
    font-weight: bold;
}
.upload-btn:first-of-type{
	margin-top: -8px;
}
.upload-btn span{
	font-size: 12px;
    font-weight: normal;
	color: red;
}
.controls-container form{
	display: none;
}
.udinfo{
	display: none;
	width: 100%;
	padding: 5px;
	margin-top: -10px;
	margin-bottom: 15px;
	border-bottom : 1px solid #e9e3e3;
	align-items: center;
}
.udinfo img{
	width: 20px;
	height: 20px;
	margin-left: 5px;
}
.slide-btns{
	display: flex;
	justify-content: space-between;
}
.next-slide{
	margin: 0px 5px;
	flex: 1;
    border: 0;
    border-radius: 4px;
    padding: 10px 5px;
    background: var(--main-color);
	color: #fff;
	cursor: pointer;
	font-size: 15px;
}
.only-btn{
	width: 100%;
}
#saccreg-btn{
	border: 0;
    border-radius: 4px;
    padding: 10px;
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
	font-size: 15px;
}
.previous-slide {
    margin: 0px 5px;
    flex: 1;
    border: 0;
    border-radius: 4px;
    padding: 10px 5px;
    background: var(--placeholder-color);
    color: #797272;
    cursor: pointer;
	font-size: 15px;
}
.slater-btn{
	flex: 1;
	padding: 10px 5px;
	background: var(--main-color);
	color: #fff;
	border: none;
	border-radius: 4px;
	font-size: 15px;
}
#sreg-btn{
	flex: 1;
    border: 0;
    border-radius: 4px;
    padding: 10px 5px;
    background: var(--main-color);
	color: #fff;
	cursor: pointer;
	font-size: 15px;
}
.err-msg{
	display: none;
	margin-top: 8px;
    text-align: center;
    font-size: 15px ;
    font-weight: bold;
	color: red ;
}

/* Pendding Page Starts Here */
#pendding-page-wrapper{
	width: 100%;
	padding: 20px;
	text-align: center;
	position: relative;
}
#pendding-page-wrapper:after{
	content: "";
    background: url("/storage/img/horizontal-waves.webp");
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: -1;
}
#pendding-page-wrapper h1{
	color: var(--main-color);
	margin: 20px auto;
}
#pendding-page-wrapper p{
	width: 70%;
	margin: 0 auto 20px auto;
}
#surf{
	display: flex;
    justify-content: center;
}
input[type="file"]{
	/*display: none;*/
}
#btn-options{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
#sufbtn{
	width: 45%;
	margin: 0px 5px;
    flex: 1;
    border: 0;
    border-radius: 4px;
    padding: 10px 5px;
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}
#signout-btn{
	width: 45%;
	margin: 0px 5px;
    flex: 1;
    border: 0;
    border-radius: 4px;
    padding: 10px 5px;
    background: var(--placeholder-color);
    color: #797272;
    cursor: pointer;
    font-size: 15px;
}
/* Pendding Page Ends Here */

/* 404 Page Starts Here*/
#pnf{
	background: #f2f2f2;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
#pnf b{
	font-size: 2.5em;
    color: var(--sec-color);
}
#pnf p{
	color: #4e4d4d;
	text-align: center;
}
#pnf img{
	width: 400px;
}
#pnf a{
	font-size: 16px;
    color: var(--sec-color);
}
/* 404 Page Ends Here */

/* Media Queries For Screens Less Than 750px Starts Here*/
@media only screen and (max-width: 750px) {
	#reg-page-wrapper{
		flex-flow: column;
	}
	#reg-stepper{
		min-width: 100%;
		min-height: unset;
	}
	#reg-stepper::before{
		width: 30vw;
    	height: 40vh;
		background-size: cover;
    	transform: rotateX(180deg);
		right: -5%;
	}
	#reg-steps{
		width: 100%;
	}
	#steps-progress{
		text-align: center;
	}
	#steps-notes{
		display: flex;
    	justify-content: space-between;
	}
	#steps-notes:before{
		width: 100%;
    	height: 2px;
		top: 28px;
		right: 0;
	}
	#steps-progress .step{
		flex-flow: column;
	}
}
/* Media Queries For Screens Less Than 750px Ends Here*/

/* Media Queries For Screens Less Than 400px Starts Here*/
@media only screen and (max-width: 400px) {
	#pnf img{
		width: 300px;
	}
}
/* Media Queries For Screens Less Than 400px Ends Here*/

/* New Media Query Added For 750px In Login Pages Starts Here */
@media only screen and (max-width: 750px){
	#login-sections-wrapper{
		height: unset;
	}
	#slogin-right{
		display: none;
	}
	#slogin-left{
		width: 100%;
		padding: unset;
	}
	.slogin-big-content{
		display: none;
	}
	.slogin-small-content{
		display: block;
	}
	.small-header{
		display: flex;
	}
}
/* New Media Query Added For 750px In Login Pages Ends Here */









